*{
	box-sizing: border-box;
}

html{
	background: #E09DCC;
	margin: 0%;
}


header{
	width: 100%;
	background-color: #63194D;
	display: inline-block;
	color: #FFFFFF;
}

.titulo{
	float: left;
	margin-left: 500px; 
	font-size: 40pt;
}

.imagen {
	margin-top: 15px;
	margin-left: 30px;

}

@media (max-width: 500px){

	.titulo{
		float: left;
		padding: 5px 5px;
		font-size: 10px;
		margin: auto;
		display: block;
		vertical-align: center;
		margin-left: 180px;
		
	}

	header{
	 width: 489px;
	}

	.imagen{
		width: 95%;
		margin: auto;
	}

	#im1{
		width: 100%;
	}
}


	@media (min-width: 501px) and (max-width: 900px){

	.titulo{
		float: left;
		padding: 5px 5px;
		font-size: 20px;
		margin: auto;
		display: block;
		vertical-align: center;
		margin-left: 330px;
		
	}

	header{
	 width: 855px;
	}

	.imagen{
		width: 95%;
		margin: auto;
	}

	#im1{
		width: 100%;
	}
}


    }

	@media (min-width: 901px) and (max-width: 1200px){


	}