body {font-family: Arial; 
	  font-size: 12pt; 
	  background-color: #000000; 
      color: #FFFFFF
     }

p{line-height: 150%;}

#titulo{text-align: center; font-size: 28pt;}

em.ed {color: #0000FF;
	   font-family: Arial;
	  }


img#ches{width: 250px; height: 300px;}
img#gray{width: 300px; height: 300px;}
img#li{width: 1000px; height: 500px;}

video#video{width: 1000px; height: 400px;}




