body {font-family: Arial; 
	  font-size: 12pt; 
	  background-color: #000000; 
      color: #FFFFFF
     }

p{line-height: 150%;}

#titulo{text-align: center; font-size: 28pt;}

em.ed {color: #0000FF;
	   font-family: Arial;
	  }
.chess{
    width: 100%;
    display: block;
    margin: auto;
}

.grayy{
	width: 100%;
    display: block;
    margin: auto;
}

.park{
	width: 100%;
    display: block;
    margin: auto;
}

.vi{
	width: 100%;
    display: block;
    margin: auto;
}

#tt{
	text-align: center;

}

#ttt{
	text-align: center;

}

#uu{
	text-align: center;

}

img#ches{ width: 250px; height: 300px;}
img#gray{ width: 300px; height: 300px;}
img#li{ width: 1000px; height: 500px;}
video#video{ width: 1000px; height: 400px;}




