body {font-family: Arial; font-size: 12pt;}

p{line-height: 150%;}

#titulo-grande{font-size: 28pt;}


#ti{font-size: 14pt;}



em.especial {font-family: Arial; color: #FF1493;}

em.resal {font-family: Arial; color: #0000FF;}

