body {font-family: Arial; font-size: 12pt;}

p{line-height: 150%;}

#titulo-grande{text-align: center; font-size: 28pt;}


#ti{font-size: 14pt;}



em.especial {font-family: Arial; color: #FF1493;}

em.resal {font-family: Arial; color: #0000FF;}

img#p33{width: 250px; height: 250px;}

img#p44{width: 400px; height: 250px;}

img#p55{width: 300px; height: 200px;}